extends baseEmail

block content
  p Hi #{firstName},
  p Welcome to ImmoStore, we're glad to have you!
  p You are not on any list. This is just one time email sent by clicking the newsletter button!

  p If you have any questions, please don't hesitate to contact me!
  p - Matti Mäkelä - CEO