extends baseEmail

block content
  p Hello !,
  p Forgot your password? Submit a request from a link below this message.
  p You can reset your password from following URL:#{url}
  p If you didn't forget your password, please ignore this email!