extends baseEmail

block content
  p Hi #{firstName},
  p Forgot your password? Submit a request from a link below this message.
  a(href=`${url}`, target='_blank') Reset your password
  p temporary solution since url doesn't work in localhost?#{url}
  p If you didn't forget your password, please ignore this email!